# RCBHT
/Segments
/Composites
/llBheaviors
/hlBehaviors
/snapData3
/llbehPlot
/hlbehPlot

# Figures
*.png
*.jpeg
*.tiff
*.eps
*.db

# Initialization files
*.ini

# Microsoft files or Libre or OpenOffice
*.xls
*.xlsx
*.ods

# Shell or Batch Files
*.bat
*.sh
*.rb

# Vides
*.MTS
*.mp4
*.avi
*.mpg
*.mpeg
*.mov

# Adobe
*.pdf
*.ai

# Matlab
*.fig
*.mat

# Backup
*.*~